    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

    * {
      font-family: 'Hanken Grotesk';
      font-weight: normal; 
      font-style: normal; 
    }

    .hanken-grotesk{
      font-family: "Hanken Grotesk", sans-serif;
      font-optical-sizing: auto;
      font-weight: auto;
      font-style: auto;
    }

    :root{
      /* Primary */

      --LightRed: hsl(0, 100%, 67%);
      --LightRedBG: hsl(0, 100%, 67%, 0.1);
      --OrangeyYellow: hsl(39, 100%, 56%);
      --OrangeyYellowBG: hsl(39, 100%, 56%, 0.1);
      --GreenTeal: hsl(166, 100%, 37%);
      --GreenTealBG: hsl(166, 100%, 37%, 0.1);
      --CobaltBlue: hsl(234, 85%, 45%);
      --CobaltBlueBG: hsl(234, 85%, 45%, 0.1) ;

      /* Gradients */
      /* background */
      --LightSlateBlue: hsl(252, 100%, 67%);
      --LightRoyalBlue: hsl(241, 81%, 54%);
      /* circle */
      --VioletBlue: hsla(256, 72%, 46%, 1);
      --PersianBlue: hsla(241, 72%, 46%, 0);



      /* ### Neutral */

      --White: hsl(0, 0%, 100%);
      --PaleBlue: hsl(221, 100%, 96%);
      --LightLavender: hsl(241, 100%, 89%);
      --DarkGrayBlue: hsl(224, 30%, 27%);
    }

    body{
      margin: 0;
    }

    .WorkSpace{
      height: 100vh;
      display: flex;

    }

    @media only screen and (max-width: 768px){
      .Contener{
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      .Left{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0px 0px 25px 25px;
  
        padding: 20px 80px 40px;
        box-sizing: border-box;
  
        background-image: linear-gradient(to top, var(--LightRoyalBlue), var(--LightSlateBlue));
      }
    }

    @media only screen and (min-width: 769px){
      .Contener{
        width: 40vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 20px;
  
        background-color: var(--White);
        box-shadow: 1px 1px 5px black;
      }

      .Left{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
  
        padding: 20px 90px 60px;
        box-sizing: border-box;
  
        background-image: linear-gradient(to top, var(--LightRoyalBlue), var(--LightSlateBlue));
      }
    }

    #YourResult{
      color: var(--LightLavender);
      font-weight: 500;
      font-size: x-large;
    }

    .Circle{
      border-radius: 50%;;
      padding: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      background-image: linear-gradient(to bottom, var(--VioletBlue) 50%, var(--PersianBlue));
    }

    #CircleDiv{
      position: absolute;
      display: flex;
      flex-direction: column;
    }

    #PercentCircle{
      color: var(--White);
      text-align: center;
      margin: 0;

      font-size: 70px;
      font-weight: 700 ;
    }

    #BottomPercentCircle{
      color: var(--LightLavender);
      margin: 0;
      text-align: center;
    }

    #Great{
      font-weight: 700;
      color: var(--White);
      font-size: 30px;
      margin: 20px 20px 20px;
    }

    @media only screen and (max-width: 768px) {
      #BottomText{
        font-size: 110%;
      }
    }

    #BottomText{
      text-align: center;
      margin: 0;
      color: var(--LightLavender);
      font-weight: 500;
    }



    /*  */

    #Summary{
      width: 100%;
      text-align: left;
      font-weight: 800;
      color: var(--DarkGrayBlue);
      font-size: 150%;
      margin: 0;
      margin-bottom: 20px;
      
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }


    @media only screen and (min-width: 769px){
      .right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        padding: 40px;
        box-sizing: border-box
      }
    }

    @media only screen and (max-width: 768px){
      .right{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        padding: 40px;
        box-sizing: border-box
      }
    }

    .RightSummary{
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      border-radius: 10px;
      margin: 5px;
      min-width: 190px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .RightSummary p{
      margin: 0;
    }

    .SummaryText{
      display: flex;
      align-items: center;
      justify-content: space-between;

    }

    .SummaryText p{
      margin-left: 5px;
      font-weight: 700;
    }

    .SummaryNumber{
      display: flex;
      flex-direction: row;
    }

    .SummaryNumber p:nth-child(1){
      color: var(--DarkGrayBlue);
      margin-right: 5px;

      font-weight: 700;
    }

    .SummaryNumber p:nth-child(2){
      color: gray;
      font-weight: 700;
    }



    .Reaction{
        background-color: var(--LightRedBG);
        color: var(--LightRed);
    }

    .Memory{
        background-color: var(--OrangeyYellowBG);
        color: var(--OrangeyYellow);
    }

    .Verbal{
        background-color: var(--GreenTealBG);
        color: var(--GreenTeal);
    }

    .Visual{
        background-color: var(--CobaltBlueBG);
        color: var(--CobaltBlue);
    }

    .Button{
        background-color: var(--DarkGrayBlue);
        border: 0;
        border-radius: 50px;
        width: 100%;
        padding: 20px;
        color: var(--White);
        font-weight: 700;
        font-size: 100%;
        margin-top: 35px;
    }

    .Button:hover{
      background-image: linear-gradient(to top, var(--LightRoyalBlue), var(--LightSlateBlue));
    }